adafruit-board-toolkit==1.1.1
astroid==2.13.2
asttokens==2.2.1
bcrypt==3.2.2
bitstring==3.1.9
cffi==1.15.1
colorama==0.4.6
contourpy==1.1.0
cryptography==39.0.0
cycler==0.11.0
dill==0.3.6
docutils==0.19
ecdsa==0.18.0
esptool==4.4
Everything-Tkinter==0.2
fonttools==4.42.1
isort==5.11.4
jedi==0.18.2
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
matplotlib==3.7.2
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
neo4j==5.8.0
networkx==3.1
numpy==1.25.2
packaging==23.1
paramiko==2.12.0
parso==0.8.3
Pillow==10.0.0
platformdirs==2.6.2
pycparser==2.21
pylint==2.15.10
PyNaCl==1.5.0
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
reedsolo==1.5.4
scipy==1.11.2
Send2Trash==1.8.1b0
simpy==4.0.2
six==1.16.0
thonny==4.0.2
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
websockets==10.4
wrapt==1.14.1
